// $color: royalblue; 


// > - 자식 선택자 사용

// .container {
//  > ul{
//    li{
//      font-size: 40px;
//      .name{
//       color: royalblue;
//      }
//      .age{
//       color: rosybrown;
//      }
//    }
//  }
// }

// & - 상위 선택자 참조
.btn {
  position: absolute;
  &.active {
    color: red;
  }
}

.list {
  li {
    &:last-child {
      margin-left: 0;
    }
  }
}

.fs {
  &-small { font-size: 10px;};
  &-medium { font-size: 10px;};
  &-large { font-size: 10px;}
}